body {
  margin: 0;
  direction: rtl;
  background-color: white;
  overflow-x: hidden;
  padding-right: 0 !important;
  overflow: auto !important;
}
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
