body {
  margin: 0;
  min-width: 320px;
  direction: rtl;
  min-height: 100vh;
  background-color: white;
  place-items: initial;
  display: inline !important;
  padding-right: 0 !important;
  overflow: auto !important;
}
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
